<div class="<%= classes.join(" ") %>">
  <div class="flex items-center h-5"><%= input %></div>

  <div class="ms-2 text-sm">
    <%= label %>
    <%= hint %>
  </div>

  <% errors.each do |error| %>
    <%= render(Flowbite::Input::ValidationError.new) { error.upcase_first } %>
  <% end %>
</div>
