<!DOCTYPE html>

<html class="h-full">
  <head>
    <title>
      <%= content_for?(:page_title) ? yield(:page_title) : "Uchi" %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= render "layouts/uchi/javascript" %>
    <%= render "layouts/uchi/stylesheets" %>
  </head>

  <body class="antialiased bg-neutral-secondary-medium h-full p-2">
    <div class="md:flex h-full">
      <%= render(partial: "uchi/navigation/main") %>

      <main class="py-6 overflow-x-hidden grow md:px-6"><%= yield %></main>
    </div>

    <%= render "layouts/uchi/flash_messages" %>
  </body>
</html>
