<div class="relative" data-controller="dropdown">
  <button
    class="
      inline-flex items-center px-3 py-2 text-sm font-medium text-center
      text-gray-900 bg-white border border-gray-300 rounded-lg
      hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200
      dark:bg-gray-800 dark:text-white dark:border-gray-600
      dark:hover:bg-gray-700 dark:hover:border-gray-600
      dark:focus:ring-gray-700
    "
    data-action="dropdown#toggle click@window->dropdown#hide"
    type="button"
  >
    Actions
    <svg
      class="w-2.5 h-2.5 ms-2.5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 10 6"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 4 4 4-4"
      />
    </svg>
  </button>

  <!-- Dropdown menu -->
  <div
    id="actions-dropdown-<%= record.id %>"
    data-dropdown-target="menu"
    class="
      hidden transition transform origin-top-right absolute right-0
      bg-white divide-y divide-gray-100 rounded-lg shadow w-44
      dark:bg-gray-700 m-0 p-0
    "
  >
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200 list-none m-0 p-0">
      <% actions.each do |action| %>
        <li>
          <%= form_with url: "/uchi/actions/executions", method: :post, data: { turbo: false } do %>
            <%= hidden_field_tag :model, repository.model.name %>
            <%= hidden_field_tag :action_name, action.class.name %>
            <%= hidden_field_tag :id, record.id %>

            <%= button_tag type: "submit",
                          class: "block w-full px-4 py-2 text-left hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" do %>
              <%= action.name %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
