<div class="relative" data-controller="dropdown">
  <%= render(Uchi::Flowbite::Button.new(style: :secondary, :data => {:action => "dropdown#toggle click@window->dropdown#hide"})) do %>
    <div class="inline-flex items-center">
      Actions TODO
      <svg
        class="w-4 h-4 ms-1.5 -me-0.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m19 9-7 7-7-7"
        />
      </svg>
    </div>
  <% end %>

  <!-- Dropdown menu -->
  <div
    id="actions-dropdown-<%= record.id %>"
    data-dropdown-target="menu"
    class="
      transition transform origin-top-right absolute right-0 z-10 hidden bg-neutral-primary-medium border border-default-medium
      rounded-base shadow-lg w-44 mt-1
    "
  >
    <ul
      class="p-2 text-sm text-body font-medium"
      aria-labelledby="actions-dropdown-button-<%= record.id %>"
    >
      <% actions.each do |action| %>
        <li>
          <%= form_with url: "/uchi/actions/executions", method: :post, class: "block", data: { turbo: false } do %>
            <%= hidden_field_tag :model, repository.model.name %>
            <%= hidden_field_tag :action_name, action.class.name %>
            <%= hidden_field_tag :id, record.id %>

            <%= button_tag type: "submit",
                          class: "block inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded" do %>
              <%= action.name %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
