<div
  class="relative"
  data-action="keydown.esc->has-many#closeDropdown"
  data-controller="has-many"
  data-has-many-backend-url-value="<%= helpers.has_many_associated_records_path(field: field.name, model: repository.model, record_id: record&.id) %>"
  data-has-many-field-name-value="<%= field_name_for_input %>"
>
  <%= render(Uchi::Flowbite::Input::Label.new(attribute: field.name, form: form, options: {for: dom_id_for_toggle})) { label } %>

  <%# Hidden fields to store selected IDs as an array %>
  <div data-has-many-target="idsContainer">
    <% associated_records.each do |assoc_record| %>
      <%= form.hidden_field attribute_name,
        value: assoc_record.id,
        multiple: true,
        data: {
          'has-many-target': 'idField',
        }
      %>
    <% end %>
  </div>

  <button
    class="<%= Uchi::Flowbite::Input::Field.classes.join(" ") %> text-left"
    data-action="has-many#toggle"
    id="<%= dom_id_for_toggle %>"
    type="button"
  >
    <div class="inline-flex items-center justify-between w-full">
      <div class="min-h-[1em] truncate" data-has-many-target="label">
        <% if associated_records.any? %>
          <%= selected_titles %>
        <% else %>
          <span class="text-body-subtle">Select items...</span>
        <% end %>
      </div>
      <svg
        class="w-4 h-4 ms-1.5 -me-0.5 flex-shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m19 9-7 7-7-7"
        />
      </svg>
    </div>
  </button>

  <div class="absolute z-10 bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-full mt-1" data-has-many-target="dropdown">
    <div class="p-2 border-b border-default-medium">
      <%# Search input. This is the visible part that users type into %>
      <label for="<%= dom_id_for_filter_query_input %>" class="sr-only">Search</label>
      <%=
        text_field_tag(
          "filter_query",
          nil,
          class: "bg-neutral-secondary-strong border border-default-strong text-heading text-sm rounded focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body",
          data: {
            'has-many-target': 'input',
            action: 'has-many#handleChange focus->has-many#handleFocus',
            autocomplete: 'off'
          },
          id: dom_id_for_filter_query_input,
        )
      %>
    </div>
    <div class="max-h-96 overflow-y-auto" data-has-many-target="list">
      <!-- Options will be dynamically inserted here -->
      <div class="grid place-items-center p-8">
        <%= render(Uchi::Ui::Spinner.new(message: associated_repository.translate.loading_message)) %>
      </div>
    </div>
  </div>

  <% if hint.present? %>
    <%= render(Uchi::Flowbite::Input::Hint.new(attribute: field.name, form: form)) { hint } %>
  <% end %>
</div>
