<%= render(Flowbite::Breadcrumb.new) do |breadcrumb| %>
  <% breadcrumb.with_item do %>
    <%= render Flowbite::BreadcrumbItem::First.new(href: @repository.routes.root_path).with_content(Rails.application.name.titlecase) %>
  <% end %>
  <% breadcrumb.with_item do %>
    <%= render Flowbite::BreadcrumbItem.new(href: @repository.routes.path_for(:index)).with_content(@repository.translate.breadcrumb_label(:index)) %>
  <% end %>
  <% breadcrumb.with_item do %>
    <%= render Flowbite::BreadcrumbItem.new(href: @repository.routes.path_for(:show, id: @record.id)).with_content(@repository.translate.breadcrumb_label(:show, record: @record)) %>
  <% end %>
  <% breadcrumb.with_item do %>
    <%= render Flowbite::BreadcrumbItem::Current.new.with_content(@repository.translate.breadcrumb_label(:edit, record: @record)) %>
  <% end %>
<% end %>

<%= render(
  Uchi::Ui::PageHeader.new(
    description: @repository.translate.description(:edit),
    title: @repository.translate.title(:edit, record: @record),
  )
) %>

<div class="mx-4 md:mx-0">
  <%= render(Flowbite::Card.new) do %>
    <%= form_with model: @record, url: @repository.routes.path_for(:update, id: @record.id) do |form| %>
      <div class="space-y-6">
        <% @repository.fields_for_edit.each do |field| %>
          <div>
            <%= render(
              field.edit_component(
                form: form,
                repository: @repository,
                label: @repository.translate.field_label(field),
                hint: @repository.translate.field_hint(field)
              )
            ) %>
          </div>
        <% end %>

        <%= render(Uchi::Ui::Form::Footer.new) do |footer| %>
          <%= footer.with_action { render(Flowbite::Button.new) { @repository.translate.submit_button } } %>
          <%= footer.with_action { link_to(@repository.translate.link_to_cancel, path_for_cancel(default: @repository.routes.path_for(:show, id: @record.id))) } %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
