<%- content_for(:page_title) { @repository.translate.title_for_new } %>

<%= render(
  Uchi::Ui::PageHeader.new(
    description: @repository.translate.description(:new),
    title: @repository.translate.title_for_new,
  )) do |header| %>
  <% header.with_breadcrumb(items: [
    {href: @repository.routes.root_path, label: @repository.translate.breadcrumb_label_for_root },
    {href: @repository.routes.path_for(:index), label: @repository.translate.breadcrumb_label(:index) },
    {href: @repository.routes.path_for(:new), label: @repository.translate.breadcrumb_label(:new) }
  ]) %>
<% end %>

<%= render(Flowbite::Card.new) do %>
  <%= form_with model: @record, url: @repository.routes.path_for(:create) do |form| %>
    <div class="space-y-6">
      <% @repository.fields_for_edit.each do |field| %>
        <div>
          <%= render(
            field.edit_component(
              form: form,
              repository: @repository,
              label: @repository.translate.field_label(field),
              hint: @repository.translate.field_hint(field)
            )
          ) %>
        </div>
      <% end %>

      <%= render(Uchi::Ui::Form::Footer.new) do |footer| %>
        <%= footer.with_action { render(Flowbite::Button.new) { @repository.translate.submit_button } } %>
        <%= footer.with_action { link_to(@repository.translate.link_to_cancel, path_for_cancel(default: @repository.routes.path_for(:index))) } %>
      <% end %>
    </div>
  <% end %>
<% end %>
