<nav aria-label="<%= aria_label %>">
  <ul class="flex items-center -space-x-px h-10 text-base">
    <%= render(Uchi::Ui::Pagination::PreviousLink.new(paginator: @paginator)) %>
    <% pages.each do |page_number| %>
      <% if page_number.nil? %>
        <%= render(Uchi::Ui::Pagination::Gap.new(page_number: page_number, paginator: @paginator)) %>
      <% elsif page_number == @paginator.page %>
        <%= render(Uchi::Ui::Pagination::CurrentLink.new(page_number: page_number, paginator: @paginator)) %>
      <% else %>
        <%= render(Uchi::Ui::Pagination::Link.new(page_number: page_number, paginator: @paginator)) %>
      <% end %>
    <% end %>
    <%= render(Uchi::Ui::Pagination::NextLink.new(paginator: @paginator)) %>
  </ul>
</nav>
